.project {
  background-color: #f3f3f3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projects {
  display: flex;
  flex-direction: column; /* Ensure cards are arranged vertically */
  align-items: center; /* Center cards horizontally */
  overflow-y: auto; /* Enable vertical scrolling */
  max-width: 1200px;
  margin: 0 auto; /* Center the container horizontally */
  width: 100%;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  width: 70%;
  /* margin-bottom: 15%; */
  margin-bottom: 20%;
  padding: calc(2.2vw);
}

.project img {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px;
}

.project .text-panel {
  /* font-size: calc(5px + 0.6vw + 0.2vh); */
  font-size: calc(4.5px + 1.333vw);

  line-height: 1.5em;
  white-space: pre-line;
}

@media screen and (min-width: 1200px) {
  .project .text-panel {
    font-size: calc(16px + 4.5px);
  }
}

.project .text-panel h2 {
  font-size: 1.7em;
}

/* Portrait Orientation */
.project.portrait {
  flex-direction: row; /* Arrange items horizontally */
  justify-content: space-between; /* Space between items */
}

.project.portrait img {
  width: 40%; /* Fixed width for the image */
}

.project.portrait .text-panel {
  width: 55%; /* Fixed width for the text panel */
  text-align: left; /* Align text content to the left */
  margin-left: 2em; /* Add spacing between image and text */
}

/* Landscape Orientation */
.project.landscape {
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

.project.landscape img {
  width: 100%;
}

.project.landscape .text-panel {
  text-align: center; /* Center-align all text content within .text-panel */
  margin-top: 0em; /* Add spacing between image and text */
}

.project.landscape .text-panel h2 {
  text-align: center; /* Ensure h2 is centered */
}

.project.landscape .text-panel p {
  text-align: left; /* Align paragraphs (p) to the left */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .project {
    flex-direction: column;
    align-items: center;
  }

  .project .text-panel {
    text-align: center;
  }
}

.project.portrait img {
  width: 50%;
}

.project.portrait .text-panel {
  text-align: left; /* Align text content to the left */
  margin-left: 2em; /* Add spacing between image and text */
  width: 50%;
}

.project .text-panel h2 {
  font-size: 1.7em;
}

/* Landscape Orientation */
.project.landscape {
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

.project.landscape img {
  width: 100%;
}

.project.landscape .text-panel {
  text-align: center; /* Center-align all text content within .text-panel */
  margin-top: 0em; /* Add spacing between image and text */
}

.project.landscape .text-panel h2 {
  text-align: center; /* Ensure h2 is centered */
}

.project.landscape .text-panel p {
  text-align: left; /* Align paragraphs (p) to the left */
}

.project {
  width: 93%;
  overflow: hidden;
}

.project.portrait {
  /* overflow: hidden; */
  max-height: 75vh;
}

.project-link {
  text-decoration: inherit;
  color: inherit;
}

.project a {
  color: inherit;
}

.project-link:hover {
  cursor: pointer;
}


.project {
  display: flex;
  align-items: center; /* Vertically centers the content */
}

.project-link {
  display: block;
}

.text-panel {
  margin-left: 16px; /* Adjust this value as needed */
}



.portrait .project-link {
  width: 50%;
}

.project-link img {
  width: 100% !important;
}
