.projects {
  margin-top: 10vh;
}

.project {
  display: flex;
  justify-content: center; /* Centers the contents horizontally */
  align-items: center; /* Centers the contents vertically */
}

.text-panel {
  margin-left: 20px; /* Adjust as necessary */
}

/* Additional styling as needed */
.project img {
  width: 35%;
  height: auto;
  max-height: 80vh;
  width: auto;
}

.project h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project p {
  font-size: 1rem;
}



.panel {
  padding-top: 10vh;
}


.projects {
  padding-top: 10vh;
}


.me img {
  padding-top: 5vh; /* Additional padding */
  height: 50vh; /* Set the height of the image to 50% of the viewport height */
  /* Add any other styling as needed */
}


.header {
  padding-top: 2%;
}


.social-icons {
  display: flex;
  justify-content: center;
  padding-top: 5px; /* Adjust the padding value to your desired spacing */
}

.social-icons a {
  margin-right: 10px; /* Adjust the margin value to your desired spacing */
}

.social-icons img {
  height: 30px; /* Adjust the height to your desired size */
  width: auto; /* Adjust the width to your desired size */
}


.App {
  text-align: center;
  background-color: white;
}
